h1 {
  text-align: center;
}
.TodoContainer {
  width: 70%;
  margin:  0 15%;
  min-height: 500px;
}
/* button.MuiButton-containedPrimary {
  background-color: green;
  font-size: 20px;
  min-width: 80px;
  margin: 3px;
}
button.MuiButton-root:hover {
  background-color: darkgreen;
}
.MuiOutlinedInput-input {
  font-size: 20px;
  padding: 15px;
}
textarea.Mui-textField:focus {
  border: darkgreen;
}
ul.MuiList-root {
  word-wrap: break-word;
}
li.MuiListItem-container {
  color: azure;
  background-color: green;
}
span.MuiTypography-body2 {
  font-size: 20px;
}
.MuiInputBase-input{
  border: 1px solid darkgreen;
}
.filters button {
  margin: 10px;
} */


